html,
body {
    height: 100%;
}

*{
    padding: 0px;
    margin: 0px;
}
a {
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
    color: #fdcc52;
}
a:hover,
a:focus {
    color: #fcbd20;
}
hr {
    max-width: 100px;
    margin: 25px auto 0;
    border-width: 1px;
    border-color: rgba(34, 34, 34, 0.1);
}
hr.light {
    border-color: white;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 200;
    letter-spacing: 1px;
}
#app {
    font-family: Avenir,Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin: 0 auto;
    font-size: 14px;
}
#app {
    min-height: 100%;
}
.nav-bar {
    background: #222;
    height: 35px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}
.nav-bar .download {
    margin-right: 20px;
    height: 100%;
}
.nav-bar .nav-r span {
    padding: 0 10px;
}
#index {
    margin: 0 auto;
    padding: 15px 0 20px 0;
}
#index {
    display: flex;
    height: 100%;
}
@media screen and (min-width: 1200px){
    #index {
        width: 1200px;
    }
}
@media screen and (max-width: 1200px) and (min-width: 992px) {
    #index {
        width: 970px;
    }
}
.left {
    flex: 1.3;
    margin-right: 25px;
}
.left .login-wrap {
    background-color: #f4f5f6;
    padding: 8px;
}
.left .login-wrap .login-text {
    margin-bottom: 20px;
}
.left .news-source {
    border-top: 2px solid #409eff;
    margin-top: 20px;
    background: #f4f5f6;
    padding: 15px;
}
.left .news-source .title {
    font-size: 18px;
    font-weight: 600;
    text-align: left;
}
.left .news-source .app-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}
.left .notice {
    background: #f4f5f6;
    padding: 15px 15px 0;
    margin-top: 20px;
    border-top: 2px solid #409eff;
    min-height: 150px;
}
.left .notice .title {
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    padding-bottom: 10px;
}
.left .notice ul .item {
    display: flex;
    border-bottom: 1px solid #e8e8e8;
    padding: 15px 0;
    height: 100px;
}
.left .notice ul .item .img-wrap {
    width: 55px;
    height: 55px;
    margin-right: 10px;
}
.left .notice ul .item .img-wrap img {
    width: 100%;
}
.left .notice ul .item .notice-content {
    flex: 1;
    overflow: hidden;
    height: 60px;
}
.left .notice ul .item .notice-content .content {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.left .login-wrap .user-info {
    padding: 5px;
    background-color: #fff;
    border: 1px solid #e8e8e8;
}
.left .login-wrap .user-info .logout {
    text-align: right;
    font-size: 12px;
    color: #999;
    cursor: pointer;
}
.left .login-wrap .user-info .avatar {
    padding: 10px 0 7px 0;
}
.left .login-wrap .user-info .username {
    font-size: 16px;
    padding-bottom: 10px;
}
.left .login-wrap .user-info .group {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px 0;
}
.left .login-wrap .user-info .group .group-item {
    flex: 1;
}
.left .login-wrap .user-info .cut-line {
    height: 15px;
    width: 1px;
    background-color: #eee;
}
.left .vip {
    font-size: 12px;
    color: #f56c6c;
    padding-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left .vip .icon-VIP {
    color: #f56c6c;
    font-size: 20px;
}
.left .login-wrap .user-info .balance {
    padding: 15px;
}
.left .iconfont {
    color: #409eff;
    font-size: 18px;
}
.right {
    min-height: 100%;
    flex: 3;
}
.right .item {
    text-align: left;
    border-bottom: 1px solid #e8e8e8;
    padding: 15px 0;
    display: flex;
    align-items: center;
    height: 120px;
    cursor: pointer;
}
.right .item .item-l {
    margin-right: 25px;
    width: 90px;
    height: 90px;
}
.right .item .item-l img {
    width: 100%;
    height: 100%;
}
.right .item .item-r {
    flex: 1;
}
.right .item .news-title {
    font-size: 18px;
    height: 50px;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.right .item .news-bot {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.right-r {
    flex: 1;
    margin-left: 25px;
}
.right-r .news-recent {
    border-top: 2px solid #409eff;
    padding: 10px 15px 0;
    background-color: #f4f5f6;
}
.right-r .news-recent .title {
    text-align: left;
    font-size: 16px;
    font-weight: 600;
}
li, ul {
    list-style: none;
}
.right-r .news-recent .group {
    display: flex;
    padding: 15px 0;
    align-items: center;
    border-bottom: 1px solid #e8e8e8;
}
.right-r .news-recent .group .group-l {
    width: 60px;
    height: 60px;
    margin-right: 5px;
}
.right-r .news-recent .group .group-l img {
    width: 100%;
    height: 100%;
}
.right-r .news-recent .group .group-r {
    flex: 1;
    height: 60px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
.login-content {
    display: flex;
    width: 200%;
    transition: all .5s;
}
.el-dialog__title {
    font-weight: 700;
}
.el-dialog {
    overflow: hidden;
}
.login-content>div {
    padding: 0 20px;
    width: 100%;
}

.login-content .login-l .input-item {
    margin-bottom: 25px;
}
.to-register {
    padding: 35px 0 0;
    display: flex;
    justify-content: space-between;
}
.to-register .forget-pasd, .to-register .register-btn {
    color: #409eff;
    cursor: pointer;
}
.to-register .forget-pasd, .to-register .register-btn {
    color: #409eff;
    cursor: pointer;
}
.login-content .login-r .input-item {
    margin-bottom: 15px;
}
.login-content .login-r .input-item {
    margin-bottom: 15px;
}
.move {
    transform: translateX(-50%);
}
.login-content .to-login {
    padding: 15px;
    color: #409eff;
    cursor: pointer;
}